.card {
  margin-bottom: 25px;
  margin-left: 30px;
  padding: 20px;
  border: 1px solid lavender;
  border-radius: 20px;
  width: 220px;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }
  .favorite {
    position: absolute;
    cursor: pointer;
  }
}
.cardDescription {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardText {
  display: flex;
  flex-direction: column;

  span {
    font-size: 13px;
    opacity: 0.5;
    text-transform: uppercase;
  }
}